In [60]:

file = open("vinayak.txt","+a")
   
for s in (0,1):
            
            file.write=str(input("enter the student name"))
            
            file.write=str(input("enter student class"))
        
            file.write=int(input("enetr student roll number"))
            
            file.write=str(input('enter the student branch'))

    
# print("student data is ",file,end='\n'


file.read()

''

1)PRIME NUMBER

In [1]:
def prime():
    num=int(input("enter the number"))
    count=0
    for i in range (1,num+1):
        
        if(num%i==0 ):
            count=count+1
            print("the number is divisible by",i)           

      

    if( count==2):
                print("entered number is prime number")

    else:
                print("entered number is not a prime number")

prime()

the number is divisible by 1
the number is divisible by 5
entered number is prime number

2 print prime number between 1to100

In [14]:
def prime():
    
    for l in range(1,100):
        num=l

        count=0
        for i in range (1,num+1):
        
            if(num%i==0 ):
             count=count+1
                     

      

        if( count==2):
                print("prime numbers  are :",num)

        # else:
        #         print("entered number is not a prime number")

prime()

prime numbers  are : 2
prime numbers  are : 3
prime numbers  are : 5
prime numbers  are : 7
prime numbers  are : 11
prime numbers  are : 13
prime numbers  are : 17
prime numbers  are : 19
prime numbers  are : 23
prime numbers  are : 29
prime numbers  are : 31
prime numbers  are : 37
prime numbers  are : 41
prime numbers  are : 43
prime numbers  are : 47
prime numbers  are : 53
prime numbers  are : 59
prime numbers  are : 61
prime numbers  are : 67
prime numbers  are : 71
prime numbers  are : 73
prime numbers  are : 79
prime numbers  are : 83
prime numbers  are : 89
prime numbers  are : 97

3 factorial numbers

In [33]:
def factorial():
    num=int(input("enter a number"))
    fact=1
    for i in range(1,num+1):
       fact=fact*i
    

    print("factorial of a numkber",fact)

factorial()

factorial of a numkber 120

4) Fibonacci

In [2]:
def fibounicci():
    num=int(input("enter the number"))
    n1=0
    n2=1
    for s in range(0,num+1):
            sum=n1+n2
            n2=n1
            n1=sum

    print("fibounicci of a number",sum)

            
fibounicci()

fibounicci of a number 8

5 simple calculator

In [12]:
def calculator():
    num1=float(input("enter a number"))
    num2=float(input("enter a number"))
    string = str(input("Enter the symbol which u want like addition,substraction,others "))
    match string:

        case "+" : print("addition of two numnber",num1 ,'and',num2, ' :',num1+num2)
        case  "-": print("substraction two number",num1 ,'and',num2, ' :',num1-num2)
        case "*"   : print("multiplication of two number",num1 ,'and',num2, ' :',num1*num2)
        case "/"  : print("divistion of two number",num1 ,'and',num2, ' :',num1/num2)
        case "%" : print('modulus of two number',num1 ,'and',num2, ' :',num1%num2)
        case "//": print(num1//num2)


calculator()

addition of two numnber 10.0 and 20.0  : 30.0

6 DECIMAL TO BINARY

In [34]:
def DecimalToBinary(num):
     
    if num >= 1:
        DecimalToBinary(num // 2)
    print(num % 2, end = '')
 
# Driver Code
if __name__ == '__main__':
     
    # decimal value
    dec_val = 24
     
    # Calling function
    DecimalToBinary(dec_val)

011000

In [33]:
def decbion():
    num=int(input("enter the value"))
    for i in range(num):
        if num!=1:
            if num%2==0:
             add=str(0)
             print(add)
            else:
                re=str(1)
                print(re)

            rem=num//2
            num=rem

        else:
           print(1)
           break


    



decbion()

0
1
0
0
1

7 ASCII VALUE OF CHARECTOR

In [37]:
cha= input("enter the charector")
print("ascii value",cha,":",ord(cha))

ascii value n : 110

8) add two matrices

In [58]:
X = [[1,2,3],
    [4 ,5,6],
    [7 ,8,9]]
 
Y = [[9,8,7],
    [6,5,4],
    [3,2,1]]
 
 
result = [[0,0,0],
        [0,0,0],
        [0,0,0]]
 
# iterate through rows
for i in range(len(X)):  
# iterate through columns
    for j in range(len(Y)):
        result[i][j] = X[i][j] + Y[i][j]
 
for r in result:
    print(r)

[10, 10, 10]
[10, 10, 10]
[10, 10, 10]

9 transpose a matrix not done

10 multiply by two matrix

In [ ]:
A = [[5, 4, 3],  
     [2, 4, 6],  
     [4, 7, 9]]    
B = [[3, 2, 4],  
     [4, 3, 6],  
     [2, 7, 5]]   
# Define an empty matrix to store multiplication result  
multiResult = [[0, 0, 0],    
               [0, 0, 0],    
               [0, 0, 0]]  
# Using nested for loop method on A & B matrix  
for m in range(len(A)):    
   for n in range(len(B[0])):    
          for o in range(len(B)):    
               multiResult[m][n] += A[m][o] * B[o][n] # Storing multiplication result in empty matrix  
# Printing multiplication result in the output  
print("The multiplication result of matrix A and B is: ")  
for res in multiResult:    
   print(res)

11 check string is palidrome

In [55]:
string=input("enter a string")
name=string[::-1]
print(name)
if(name==string):
    print('entere string is a palindrome')

else:
    print("enter string is not a palindrome")

gadag
entere string is a palindrome

12 pyramid not done

13 merging dictionarry

In [60]:
dic1={1:"hi",2:"hubi"}
dic2={6:"hi",7:"bangalore",}
print(dic1.update(dic2))
print(dic1)

None
{1: 'hi', 2: 'hubi', 6: 'hi', 7: 'bangalore'}

14 access index of list using for loop

In [69]:
list1=[1,2,3,4,5,6]

for i in range(len(list1)):
    print('index of list1',i,":",list1[i])

index of list1 0 : 1
index of list1 1 : 2
index of list1 2 : 3
index of list1 3 : 4
index of list1 4 : 5
index of list1 5 : 6

15 concat two list

In [72]:
list1=[1,2,3,4,5]
list2=[8,7,89,4,2]
list = list1+list2
print(list)

[1, 2, 3, 4, 5, 8, 7, 89, 4, 2]

16 get the last element of the list

In [75]:
list=[1,2,3,4,5,6,9]
print(list[-1])

9

17 GETTING RANDOME NUMBER

In [77]:
import random
list2 = [1,2,3,4,5,6,7,8]
print(random.choice(list2))

1

18 PRINT ODD NUMBER IN LIST

In [15]:
list = [1,2,3,4,5,6,7,8,4,4,7,54,6]

for i in list:
    if (i%2!=0):
         print(' odd number in list : ' ,i)

 odd number in list :  1
 odd number in list :  3
 odd number in list :  5
 odd number in list :  7
 odd number in list :  7

19 EVEN NUMBER IN A LIST

In [86]:
list = [1,2,3,4,5,6,7,8,4,4,7,54,6]

for i in list:
    if (i%2==0):
         print('enter number is even number : ' ,i)

enter number is even number :  2
enter number is even number :  4
enter number is even number :  6
enter number is even number :  8
enter number is even number :  4
enter number is even number :  4
enter number is even number :  54
enter number is even number :  6

20 SUM OF ARRAY

In [87]:
list= [1,4,56,73,7]
print(sum(list))

141

21 CHECK STRING IS A NUMBER OR NOT

In [89]:
string="746534"

print("if stirng is contain number then it print true: ",string.isnumeric())

if vstirng is contain number then it print true:  True

22 CONVERT TWO LIST into DICTIONARRY

In [56]:
 
 
test_keys = ["a", "b", "c"]
test_values = [1, 4, 5]
 

print("Original key list is : " + str(test_keys))
print("Original value list is : " + str(test_values))
 

res = {}
for key in test_keys:
    for value in test_values:
        res[key] = value
        test_values.remove(value)
        break
       

print("Resultant dictionary is : " + str(res))

Original key list is : ['a', 'b', 'c']
Original value list is : [1, 4, 5]
Resultant dictionary is : {'a': 1, 'b': 4, 'c': 5}

23 REVERSE A NUMBER

In [114]:
number = int(input("Enter the integer number: "))  
print("entered number is ",number)
  
# Initiate value to null  
revs_number = 0  
  
# reverse the integer number using the while loop  
  
while (number > 0):  
    # Logic  
    remainder = number % 10  
    revs_number = (revs_number * 10) + remainder  
    number = number // 10  
  
# Display the result  
print("The reverse number is : {}".format(revs_number))

entered number is  6587653214674
The reverse number is : 4764123567856

24 COMPUTE A POWER OF A NUMBER

In [116]:
num = float(input("eneter a number"))
power=float(input("enter a power number"))
print("power of a number is",num**power)

power of a number is 8.0

25 COUNT A NUMBER OF DIGITS PRESENT IN A NUMBER

In [16]:
num = 3452
count = 0

while num != 0:
    
    num =num // 10
    count += 1

print("Number of digits: " + str(count))

Number of digits: 4

27 REMOVING DUPLICATE ELMENT FROM THE LIST

In [6]:
list = [1,2,3,4,3,4,5,3,345]
list1 = set(list)
print(list1)

{1, 2, 3, 4, 5, 345}

28 find the size of tuple

In [1]:
tup=(1,2,3,4,5,45)
print(len(tup))

6

29 CREATING LIST OF TUPLE FROM GIVEN LIST HAVING NUMBER AND IT IS CUBE IN EACH TUPLE

In [3]:
list = [(1,1**3),(5,5**3),(8,8**3),(9,9**3)]
print("list having a number and having its cube is : ",list)

list having a number and having its cube is :  [(1, 1), (5, 125), (8, 512), (9, 729)]

30 Delet all element in list

In [5]:
list = [1,2,3,54,34,2]
del list
print(list)

<class 'list'>

31 ENETER BASIC SALLARY CALCULATE GROSS SALARY OF AN EMPLOYEE

In [7]:
basic_salary = 20000
other_allowance=200
tax=1000
gross_sallary= basic_salary+other_allowance+tax
print("basic sallary is ",basic_salary,"gross salary is :",gross_sallary)

basic sallary is  20000 gross salary is : 21200

32 calculate average of numbers in a given list

In [11]:
def avg():
    li = [1,2,3,53,312,34,7]
    count=0
    add=0
    for i in li:
        add=add+i
        count=count+1


    avarage = add//count
    print("avareg of list is :",avarage)




avg()

avareg of list is : 58

33 check for url in string

In [ ]:
string = "avbcd https//karresults.nic.in 2023 likuhj"

34 LARGEST NUMBER  AMONG THREE NUMBER

In [2]:
num1=int(input("enter the 1st njumber"))
num2=int(input("enter the 1st njumber"))
num3=int(input("enter the 1st njumber"))
if num1>num2 and num1>3:
    print("greatest number is : " ,num1)

elif num2>num1 and num2>num3:
    print("greatest number is :",num2)

elif num1<num3 and num2<num3:
    print("greater number is : ",num3)

else :
    print("all numbers equal")

all number equal

35 Find the number divisible by another number

In [30]:
num1 = int(input("enter the number"))
num2 = int(input("enetr the the another number"))
if num1%num2==0:
    print(num1, "divisible by", num2)

else:
    print(num1,"is not divisible by ",num2)

10 is not divisible by  20

36 factors of number

In [36]:
fact=int(input("enter a number "))
li=[]
for i in range(1,fact+1):
    if(fact%i==0):
        li.append(i)

print("factors of ",fact,':',li)

factors of  45 : [1, 3, 5, 9, 15, 45]

37 display calendor program