In [22]:
list = [1,2,3,5,74,4,74,2,1,1,2,1]
list.insert(2,89)
print(list)
list1=['vinayak','jdekhd','mkd',909]
#insert method
list1.insert(2,8695)
#count method
list.count(2)
#extend method
list.extend(list1)
print(list)

tup = (1,2,3,434)
list.extend(tup)
print(list)

[1, 2, 89, 3, 5, 74, 4, 74, 2, 1, 1, 2, 1]
[1, 2, 89, 3, 5, 74, 4, 74, 2, 1, 1, 2, 1, 'vinayak', 'jdekhd', 8695, 'mkd', 909]
[1, 2, 89, 3, 5, 74, 4, 74, 2, 1, 1, 2, 1, 'vinayak', 'jdekhd', 8695, 'mkd', 909, 1, 2, 3, 434]

extend method

In [26]:
list1 = [2,3,4,54,2,42]
list2 = ['vinayak', 'abishek', 'raj']
list1.extend(list2) 
print(list1)

[2, 3, 4, 54, 2, 42, 'vinayak', 'abishek', 'raj']

index method

In [36]:
list = [1,2,3,5,6,4,6,6]
list.index(6)
list.reverse()
list
list.sort()
list
list.sort(reverse=True)
list

[6, 6, 6, 5, 4, 3, 2, 1]

cmp method

In [ ]:
list=[1,2,3,34,54]
list1=[34,54,567,6,'vinayak']
cmp

In [37]:
set1={1,2,3,4,5,23}
set2= {2,3,5,2,2}
set3=set1&set2
print(set3)
#it will print only common element

{2, 3, 5}