In [1]:
class cs_engineer:
    name=""
    designatioin=""
    salary=""
    def prin(self):
        print("name:",self.name, "designation:",self.designatioin, "sallary:", self.salary)
        
    def __init__(self,name, designation,salary):
        self.name=name 
        self.designatioin=designation
        self.salary=salary


class mechanical_engineer:
    name=""
    designatioin=""
    salary=""
    def prin(self):
      print("name:",self.name, "designation:",self.designatioin, "sallary:", self.salary)
    
    def __init__(self,name, designation,salary):
        self.name=name 
        self.designatioin=designation
        self.salary=salary

    
class civil_engineer:
    name=""
    designatioin=""
    salary=""
    def prin(self):
       print("name:",self.name, "designation:",self.designatioin, "sallary:", self.salary)

    def __init__(self,name, designation,salary):
        self.name=name 
        self.designatioin=designation
        self.salary=salary


class electronics_engineer:
    name=""
    designatioin=""
    salary=""
    def prin(self):
        print("name:",self.name, "designation:",self.designatioin, "sallary:", self.salary)
    
    def __init__(self,name, designation,salary):
        self.name=name 
        self.designatioin=designation
        self.salary=salary


class electrical_engineer:
    name=""
    designatioin=""
    salary=""
    def prin(self):
        print("name:",self.name, "designation:",self.designatioin, "sallary:", self.salary)



    def __init__(self,name, designation,salary):
        self.name=name 
        self.designatioin=designation
        self.salary=salary



obj=cs_engineer('vinayak','cs engineer',"50000")
obj.prin()
obj=mechanical_engineer('vijay','mechanical engineer',"35000")
obj.prin()
obj=civil_engineer('chandrakant',' civil engineer',"25000")
obj.prin()
obj=electronics_engineer('shankar','electronics engineer',"40000")
obj.prin()

obj=electrical_engineer('sanjay','electrical  engineer',"45000")
obj.prin()

name: vinayak designation: cs engineer sallary: 50000
name: vijay designation: mechanical engineer sallary: 35000
name: chandrakant designation:  civil engineer sallary: 25000
name: shankar designation: electronics engineer sallary: 40000
name: sanjay designation: electrical  engineer sallary: 45000

In [20]:
import statistics as st
# li=[1,2,3,4,5,56]
# print(st.median(li))# ading midle value divided by 2 when it is even count

li1=[4,7,4,98,9]
print(st.median(li1))

7

In [27]:
import statistics as st
# li=[1,2,3,4,5,56]
# print(st.median(li))# ading midle value divided by 2 when it is even count

li1=[1,4,7,4,98,1,98]
print(st.mode(li1))

1