In [131]:
def gen21(a):
    for i in a:
        yield   i*i*i
        
        print(" generator....",i)

    
num=[1,2,3]
cube_num=gen21(num)


for i in cube_num:
    print(i)

1
 generator.... 1
8
 generator.... 2
27
 generator.... 3

genarate 10 odd number and sum them all print sum

In [132]:
def gen():
    for i in range(20):
        if(i%2!=0):
            yield i

def sum_of():
    s=0
    for value in gen():
       s=s+value
    print("sum of the 10 odd number is ",s)


sum_of()

sum of the 10 odd number is  100

In [133]:
def gen():
    for i in range(1,71):
        if(i%7==0):
            yield i

def sum_of():
    s=0
    for value in gen():
        s=s+value
    
        print(s,":",value)
    


sum_of()

7 : 7
21 : 14
42 : 21
70 : 28
105 : 35
147 : 42
196 : 49
252 : 56
315 : 63
385 : 70

In [134]:
def matr():
    mat=[[odd for i in range(1,7) for j in range(1, 7)  ]]
    for i in range(37):
        mat.append(int(input("eneter element to store")))
        yield mat

def retr():
   
    for value in matr():
        print(value )
matr()

In [135]:
fruits=['orange','grapes','banana','watermelon']
fruit_list=[fr for fr in fruits]

In [136]:
def fruit():
    fruits=['or','grapes','banana','watermelon']
    for fr in fruits:
        if( fr.find('a') != -1):
            # print(fr.find('a'))
            print(fr)


fruit()

grapes
banana
watermelon

In [137]:
fruits=['or','grapes','banana','watermelon']
fruits[1].find('a')

2

In [138]:
matr=[]
for i in range(0,16):
    count=0
    for j in range(0,2):
        count=count+1
        if(j%2!=0):
            matr.append(j)
                
            if(count==12):
                '\n'    

        print(i,matr)

0 []
0 [1]
1 [1]
1 [1, 1]
2 [1, 1]
2 [1, 1, 1]
3 [1, 1, 1]
3 [1, 1, 1, 1]
4 [1, 1, 1, 1]
4 [1, 1, 1, 1, 1]
5 [1, 1, 1, 1, 1]
5 [1, 1, 1, 1, 1, 1]
6 [1, 1, 1, 1, 1, 1]
6 [1, 1, 1, 1, 1, 1, 1]
7 [1, 1, 1, 1, 1, 1, 1]
7 [1, 1, 1, 1, 1, 1, 1, 1]
8 [1, 1, 1, 1, 1, 1, 1, 1]
8 [1, 1, 1, 1, 1, 1, 1, 1, 1]
9 [1, 1, 1, 1, 1, 1, 1, 1, 1]
9 [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
10 [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
10 [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
11 [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
11 [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
12 [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
12 [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
13 [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
13 [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
14 [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
14 [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
15 [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
15 [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [139]:
mat=[[i for i in range(32) if i%2!=0] for j in range(16)]
mat

[[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31]]

In [140]:
fruit=['pappaya','orange','banana','mango']
fruits=[fr for fr in fruit if fr.find('a')!=-1]
print(fruits)

['pappaya', 'orange', 'banana', 'mango']

fetching the data from list

In [142]:
list= [[1,2],34,[1,[4], 3]]
print(list[2][1]
      )

[4]

In [7]:
list= [[1,2],[34]]
print(list[0][1])

2

converting string into list

In [5]:
string=input("eneter a elment (space-separated):")
list=string.split()
print(list)

['hi', 'how', 'arre', 'you']

inserting a element into list

In [ ]:
li=[1,2,3,4,5]
li.insert(2,20)
print(li)

[1, 2, 20, 3, 4, 5]

In [ ]:
li = []
for i in range(16):
    li.append([])
    for j in range(16):
        li[i].append(j)

print(li)

[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]]

In [ ]:
li=["pple",'banana',"grapes"]
emp=[]
for i in li:

    if 'a' in i:
        emp.append(i)

print(emp)

['banana', 'grapes']

In [ ]:
tup =(1,2,3,5,[1,2,3,34])
print(tup)
tup[4][1]
tup[4].append(23)
print(tup)

(1, 2, 3, 5, [1, 2, 3, 34])
(1, 2, 3, 5, [1, 2, 3, 34, 23])

In [ ]:
import sys
li=[1]
tup=(2)
print("storing list byte",sys.getsizeof(li),"bytes")
print("storing tuple ",sys.getsizeof(tup),"bytes")

storing list byte 64 bytes
storing tuple  28 bytes

In [ ]:
set={1,2,3,4}
set.add(34)
set.add(76)
set.add(90)

set.add(08)
print(set)

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (2067850069.py, line 6)

union(|) in set

In [ ]:
set={1,2,3,4}
set.add(34)
set.add(76)
set.add(90)
print(set)

{1, 2, 3, 4, 34, 76, 90}

In [ ]:
li={'jay ',"idrish","boy"}
vampire={"vinay","samarth"}
store=li|(vampire)
adg=li.union(vampire)
print(adg)
print(store)

{'boy', 'samarth', 'vinay', 'idrish', 'jay '}
{'boy', 'samarth', 'vinay', 'idrish', 'jay '}

intersection in set

In [144]:
set1=set()
set2=set()
for i in range(5):
    set1.add(i)

for i in range(3,9):
    set2.add(i)

set3=set1.intersection(set2)
print(set3)

TypeError: 'set' object is not callable

In [1]:
set1=set()
set2=set()
for i in range(5):
    set1.add(i)

for i in range(3,9):
    set2.add(i)

set3=set1.intersection(set2)
print(set3)

{3, 4}

difference in set which means  it will element except comman element in two set and print only set2 element when we take first element is substract (set2)

In [17]:
set = {1,2,335,567,78,28}
set2 = {1,23,335,28,7,2}
set3=set2-set
set3

{7, 23}

In [3]:
string="geek"
list= string.split()
print(list)

['geek']

SET METHOD

In [10]:
set=(1,2,32,3424)
set2=(12,367,3,72,1)
if set==set2:
    True

else:
    False